.profile-picture{
    height: 120px;
    width: 120px;
    border: 6px solid var(--color-complement);
    border-radius: 50%;
}
.choice{
    height: 40px;
    width: 40px;
    border: 2px solid var(--color-accent);
}