<h3>Nouvelle nacelle</h3>
<form #podRegister="ngForm" (ngSubmit)="podRegister.valid && onSubmit()">

    <input [(ngModel)]="pod.name" type="text" name="name" id="name" placeholder="Nomme ta nacelle" autofocus required><br>

    <button *ngFor="let diff of [1,2,3]" (click)="setDifficultyTo(diff)" [ngClass]="pod.difficulty === diff ? 'difficulty-selected' : ''" class="button">{{ difficultyToString(diff) }}</button>

    <input [(ngModel)]="pod.characterMax" type="number" name="characterMax" id="characterMax" min=1 max=4 required><br>

    <input [(ngModel)]="pod.password" type="text" name="password" id="password" placeholder="Mot de passe si besoin"><br>

    <input type="submit" value="Préparer" class="button accent">
</form>