<div class="workshop">
    <button (click)="slide('left')"><app-svg named="left-arrow"></app-svg></button>

    <div *ngIf="slideDisplayed === 0" class="cannon">

        <h3 (click)="alert('cannon')">Canon <app-svg named="between"></app-svg></h3>

        <table>
            <tr><td>1-2</td><td>1-2</td><td>3</td><td>4</td><td>5</td><td>6</td></tr>
            <tr>
                <td *ngFor="let col of [].constructor(6); let i = index" >
                    <div *ngIf="expedition.enemiesZoneBasic[i] !== 0" class="single-dice-storage-zone">
                        <img src="assets/images/enemies/basic.png"><p *ngIf="expedition.enemiesZoneBasic[i] > 1" class="enemy-count">x{{ expedition.enemiesZoneBasic[i] }}</p>
                    </div>
                    <div *ngIf="expedition.enemiesZoneSpeedy[i] !== 0" class="single-dice-storage-zone">
                        <img src="assets/images/enemies/speedy.png"><p *ngIf="expedition.enemiesZoneSpeedy[i] > 1" class="enemy-count">x{{ expedition.enemiesZoneSpeedy[i] }}</p>
                    </div>
                    <div *ngIf="expedition.enemiesZoneThrower[i] !== 0" class="single-dice-storage-zone">
                        <img src="assets/images/enemies/thrower.png"><p *ngIf="expedition.enemiesZoneThrower[i] > 1" class="enemy-count">x{{ expedition.enemiesZoneThrower[i] }}</p>
                    </div>
                </td>
            </tr>
        </table>

    </div>

    <div *ngIf="slideDisplayed === 1" class="reload">
        <h3 (click)="alert('reload')">Recharge <app-svg named="sequence"></app-svg></h3>
        
    </div>

    <button (click)="slide('right')"><app-svg named="right-arrow"></app-svg></button>
</div>