.messages-container{
    height: 90%;
    overflow: scroll;
}

.message{
    display: flex;
    margin: 0.5em 0;
}
.important{
    background-color: var(--color-accent);
    .pseudo{
        color: white;
    }
}
img{
    margin: 0 0.2em;
}
address{
    font-style: normal;
    opacity: 0.4;
}
.pseudo{
    font-weight: bold;
    color: var(--color-accent);
}
.date{
    font-size: 0.7em;
}

#scroller * {
    overflow-anchor: none;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}