.dice-zone{
    display: flex;
    div{
        border: 1px solid black;
    }
    .dice-stocked-zone, .dice-pool-zone{
        min-width: 15%;
        display: flex;
        gap: 1em;
    }
    img{
        height: 32px;
        width: 32px;
    }
}