.dice-zone{
    display: flex;
    width: 90vw;
    justify-content: space-between;
    div{
        border: 1px solid black;
    }
    .dice-stocked-zone, .dice-pool-zone{
        min-width: 15%;
        display: flex;
        gap: 1em;
        overflow-x: scroll;
    }
    img{
        height: 40px;
        width: 40px;
    }
    .locked-die{
        border: 2px dashed var(--color-complement);
    }
}