table{
    width: 75vw;
    border: 1px solid black;
    //border-collapse: collapse;
}
td{
    font-size: 1.2em;
    background-color: red;
    width: 4200px;
}
.uncertainly{
    -webkit-text-stroke: 1px white;
    background: repeating-linear-gradient(
        45deg,
        brown,
        brown 8px,
        orange 8px,
        orange 16px
    );
}
.certainly{
    background-color: orange;
}
.core{
    -webkit-text-stroke: 1px white;
    background: repeating-linear-gradient(
        45deg,
        darkslateblue,
        darkslateblue 8px,
        orange 8px,
        orange 16px
    );
}
.hardcore{
    color: white;
    background-color: teal;
}