<div class="header-container">
    <div class="expedition-infos">
        <h3>{{ expedition.name }}</h3>
        <p>
            [{{ difficultyToString(expedition.difficulty) }}] Eau&nbsp;: <span class=""highlight>{{ expedition.water }} - Profondeur&nbsp;: {{ expedition.depth }}</span><br>
            {{ expedition.day }}j {{ getDateZero(expedition.hour) }}:{{ getDateZero(expedition.minute) }}
        </p>
    </div>
    <div>
        <button (click)="endTurn()">Fin de tour</button>
    </div>
</div>