.porthole-choice-section{
    display: flex;
    justify-content: space-around;
}
.spice-count{
    background-color: black;
    color: white;
    fill: white;
    margin: 0.5em 0;
    padding: 0.5em 0;
}
.level{
    font-size: 1.5em;
}